body {
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    display: block;
    top: 15%;
    position: absolute;
    text-align: center;
    color: #ff7f50;
}

.score {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
    top: 25%;
    position: fixed;
}

.score table {
    border-collapse: collapse;
    width: 50%; 
    max-height: 300px;
    overflow: auto;
    table-layout: fixed;
    border: 3px solid #87ceeb; 
}

.score thead th {
    position: sticky;
    background-color: #add8e6; 
    font-size: 15px;
}

th,
td {
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

tr {
    background-color:#add8e6 ;
}


.form-container {
    display: flex;
    margin-top: 10px;
    position: fixed;
    bottom: 30%;
    left: 4%;
}

.form-container form {
    background-color: #fffacd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container  button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}
.form-container button {
    background-color: #00ced1;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #00999b;
}

/*form contenair 2*/


.form-container2 {
    display: flex;
    margin-top: 10px;
    position: fixed;
    bottom: 30%;
    right: 5%;
}

.form-container2 form {
    background-color: #fffacd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container2  button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}
.form-container2 button {
    background-color: #00ced1;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container2 button:hover {
    background-color: #00999b;
}

.form-container img{
    display: block;
    margin-left: 10.5%;
    margin-top: 10%;
    width: 80%;
}

.form-container2 img{
    display: block;
    margin-left: 10.5%;
    margin-top: 10%;
    width: 80%;
}