{{define "acceuil"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/acceuil.css">
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <title>Hangman</title>
</head>
<body>
    <header class="header">
        <a href="/acceil"><img src="/static/image/logo.webp" alt="{{.Pack.Logo}}"></a>
        <nav class="navbar">
            <a href="/game">{{.Pack.Jeu}}</a>
            <a href="/score">{{.Pack.Score}}</a>
        </nav>
    </header>
    <div class="form-container">
        <form action="/traitement" method="post">
            <h2>{{.Pack.Inscription}}</h2>
            <label for="pseudo">{{.Pack.Pseudo}}</label>
            <input type="text" name="pseudo" id="pseudo" required>
            
            <label for="level">{{.Pack.Level}}</label>
            <select name="level" id="level">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="langue">{{.Pack.Langue}}</label>
            <select name="langue" id="langue">
                <option value="English">english</option>
                <option value="Français">français</option>
                <option value="Español">español</option>
            </select>
            
            <button type="submit">{{.Pack.Valider}}</button>
        </form>
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}
