{{define "ending"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ending.css">
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a href="/acceil"><img src="/static/image/logo.webp" alt="{{.Pack.Logo}}"></a>
        <nav class="navbar">
            <a href="/game">{{.Pack.Jeu}}</a>
            <a href="/score">{{.Pack.Score}}</a>
        </nav>
    </header>
    <div class="form-container">
        <form action="/score/traitement" method="post">
            <h3>{{.Phrasefinal}}</h3>
            {{if eq .Victoire true}}
            <img src="/static/image/victoire.png" alt="{{.Pack.Imagedefaite}}">
            {{else}}
            <img src="/static/image/defaite.png" alt="{{.Pack.Imagevictoire}}">
            {{end}}
            <button type="submit">{{.Pack.TabelauScore}}</button>
        </form>
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}