{{define "ending"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ending.css">
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    {{template "header"}}
    <div class="form-container">
        <form action="/score" method="post">
            {{if eq .Victoire true}}
            <h3>Victoire</h3>
            <img src="/static/image/victoire.png" alt="image de victoire">
            {{else}}
            <h3>Défaite</h3>
            <img src="/static/image/defaite.png" alt="image de defaite">
            {{end}}
            <button type="submit">Tableau des score</button>
        </form>
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}