{{define "ending"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Document</title>
</head>
<body>
    {{if eq .Victoire true}}
    <p>Victoire</p>
    {{else}}
    <p>Défaite</p>
    {{end}}
    <form action="/score" method="post">
        <button type="submit">Tableau des score</button>
    </form>
</body>
</html>
{{end}}