{{define "game"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/game.css">
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <title>Hangman</title>
</head>
<body>
    <header class="header">
        <a href="/acceil"><img src="/static/image/logo.webp" alt="{{.Pack.Logo}}"></a>
        <nav class="navbar">
            <a href="/game">{{.Pack.Jeu}}</a>
            <a href="/score">{{.Pack.Score}}</a>
        </nav>
    </header>
    <div class="form-container">
        <form action="/game/traitement" method="post">
        <h2>[{{range .Mot}} {{.}} {{end}}]</h2>
        {{if eq .Start true}}
            <h2>{{.Pack.PhraseStart}}</h2>
        {{else if eq .DerniereEssaieReussie true}}
            <h2>{{.Pack.BienJoue}}</h2>
        {{else}}
            <h2>{{.Pack.Dommage}}</h2>
        {{end}}
        <label for="answer"></label>
        <input type="text" name="answer" id="answer" required>
        <button type="submit">{{.Pack.Valider2}}</button>
        {{if eq .PvRestant 12}}
        <img src="/static/image/game/game12.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 11}}
        <img src="/static/image/game/game11.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 10}}
        <img src="/static/image/game/game10.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 9}}
        <img src="/static/image/game/game9.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 8}}
        <img src="/static/image/game/game8.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 7}}
        <img src="/static/image/game/game7.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 6}}
        <img src="/static/image/game/game6.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 5}}
        <img src="/static/image/game/game5.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 4}}
        <img src="/static/image/game/game4.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 3}}
        <img src="/static/image/game/game3.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 2}}
        <img src="/static/image/game/game2.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 1}}
        <img src="/static/image/game/game1.webp" alt="{{.Pack.ImageGame}}">
        {{else if eq .PvRestant 0}}
        <img src="/static/image/game/game0.webp" alt="{{.Pack.ImageGame}}">
        {{end}}
        <br>
        <h3>{{.Pack.ListeLettre}}</h3>
        <h4>{{range .ListeLettre}}{{.}} {{end}}</h4>
        <h3>{{.Pack.ListeMots}}</h3>
        <h4>{{range .ListeMots}}{{.}} {{end}}</h4>
    </form>
    {{template "footer"}}
</body>
</html>
{{end}}