{{define "score"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/score.css">
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <title>Hangman</title>
</head>
<body>
    <header class="header">
        <a href="/acceil"><img src="/static/image/logo.webp" alt="{{.Pack.Logo}}"></a>
        <nav class="navbar">
            <a href="/game">{{.Pack.Jeu}}</a>
            <a href="/score">{{.Pack.Score}}</a>
        </nav>
    </header>
    <h1>{{.Pack.Tableau}}</h1>
    <div class="score">
        <br><br>
        <table border="2">
            <thead>
                <tr>
                    <th>{{.Pack.Pseudo2}}</th>
                    <th>{{.Pack.Score2}}</th>
                    <th>{{.Pack.NbPartie}}</th>
                </tr>
            </thead>
            <tbody>
                {{range .Pseudos}}
                <tr>
                    <td>{{.Pseudo}}</td>
                    <td>{{.Score}}</td>
                    <td>{{.NbPartieJoué}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    {{if eq .GameEnd true}}
    <div class="form-container">
        <form action="/score/traitement/replay" method="post">
            <img src="/static/image/game.webp" alt="{{.Pack.ImageTemp}}">
            <button type="submit">{{.Pack.Rejouer}}</button>
        </form>
    </div>
    <div class="form-container2">
        <form action="/score/traitement/acceil" method="post">
            <img src="/static/image/game.webp" alt="{{.Pack.ImageTemp}}">
            <button type="submit">{{.Pack.Retour}}</button>
        </form>
    </div>
    {{else}}
    <div class="form-container">
        <form action="/acceil" method="post">
            <img src="/static/image/game.webp" alt="{{.Pack.ImageTemp}}">
            <button type="submit">{{.Pack.Play}}</button>
        </form>
    </div>
    <div class="form-container2">
        <form action="/acceil" method="post">
            <img src="/static/image/game.webp" alt="{{.Pack.ImageTemp}}">
            <button type="submit">{{.Pack.Play}}</button>
        </form>
    </div>
    {{end}}
    {{template "footer"}}
</body>
</html>
{{end}}