{{define "score"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/score.css">
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <title>Hangman</title>
</head>
<body>
    {{template "header"}}
    <h1>Tableau des score</h1>
    <div class="score">
        <br><br>
        <table border="2">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Score</th>
                    <th>Langue</th>
                    <th>Nombre de partie joué</th>
                    <th>Difficulté</th>
                </tr>
            </thead>
            <tbody>
                {{range .Pseudos}}
                <tr>
                    <td>{{.Pseudo}}</td>
                    <td>{{.Score}}</td>
                    <td>{{.Langue}}</td>
                    <td>{{.NbPartieJoué}}</td>
                    <td>{{.Level}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="form-container">
        <form action="/score/traitement/replay" method="post">
            <button type="submit">Rejouer</button>
        </form>
    </div>
        <div class="form-container2">
        <form action="/score/traitement/acceil" method="post">
            <button type="submit">retour à l'acceil</button>
        </form>
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}