{{define "temporisation"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/temporisation.css">
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <title>Hangman</title>
</head>
<body>
    <header class="header">
        <a href="/acceil"><img src="/static/image/logo.webp" alt="{{.Pack.Logo}}"></a>
        <nav class="navbar">
            <a href="/game">{{.Pack.Jeu}}</a>
            <a href="/score">{{.Pack.Score}}</a>
        </nav>
    </header>
    {{if eq .BackTo "game"}}
    <div class="form-container">
        <form action="/game" method="post">
            <h3>{{.Message}}</h3>
            <button type="submit">{{.Pack.RetourGame}}</button>
        </form>
    </div>
    {{else}}
    <div class="form-container">
        <form action="/acceil" method="post">
            <h3>{{.Message}}</h3>
            <button type="submit">{{.Pack.Retour2}}</button>
        </form>
    </div>
    {{end}}
    {{template "footer"}}
</body>
{{end}}